<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Plagiarism Module
                    </a>
                </li>

                <% @sections.each do |section| %>
                <li>
                    <a href="#">Section <%= link_to "#{section.title}", section %> </a>
                </li>

                <% end %>

                <li> <%= link_to "Example Test", pages_example1_path %>
            </ul>
        </div>
<!-- /#sidebar-wrapper -->